<div class="container">
  <h1 class="mt-5 mb-4">Best coach in the world</h1>
  <div class="main-panel">
    <form action="/answer" data-turbo="false" class="mb-3">
      <div class="mb-3">
        <label for="question">Ask anything</label>
        <input type="text" name="question" id="question" class="form-control" autocomplete="off" required>
      </div>
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
